<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registro de Usuario</title>
</head>
<body>

<form method="post" action="register">
                    
                 
                                       
                     <label for="email">Nombre: </label>
                     <input type="text" name="name"  placeholder="Nombre"></br>  <label for="email"> </label>
                     
                     <label for="email">Apellidos: </label>
                     <input type="text" name="surnames"placeholder="Apellidos"></br>  <label for="email"> </label>
                     
                     <label for="email">Nombre de usuario (nick): </label>
                     <input type="text" name="nick"  placeholder="Apellidos"></br>  <label for="email"> </label>
                     
                     <label for="email">Email: </label>
                     <input type="email" name="email" placeholder="Email">

                     <label for="password">Password: </label>
                     <input type="password" name="password" placeholder="Password">
					
                    <!-- send button -->
                    <input type="submit" value="Submit"/>
</form>


</body>
</html>