
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="CreateShow" method="post">
	<select name="tipo">
	    <option value="p" selected>Puntual</option>
	    <option value="m">Múltiple</option>
	    <option value="t">Temporada</option>
  	</select>
	<input type="text" placeholder="Title" name="title" required="required">
	<input type="text" placeholder="Description" name="desc" required="required">
	<input type="text" placeholder="Category" name="cat" required="required">
	<input type="number" placeholder="Tickets" name="loc" required="required">
	<input type="submit" value="New Show">
</form>
</body>
</html>